{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
<br>
    <div>
        <p></p>
    </div>
    <script>
        const url = new URL('http://localhost:3000/.well-known/mercure');
        url.searchParams.append('topic', 'http://localhost:8000/uploadFile');
        const eventSource = new EventSource(url);
        eventSource.onmessage = e => {
            document.querySelector('p').insertAdjacentHTML('afterend', e.data);
            document.querySelector('p').insertAdjacentHTML('afterend', '<br>');
        };
    </script>
{% endblock %}
