{% extends 'base.html.twig' %}
{% block navbar %}
    <div class="topnav">
        <a class="active" href="{{ path('app_login') }}">Log In</a>
        <a class="active" href="{{ path('app_register') }}">Sign Up!</a>
        <a class="active" href={{ path('sonata_admin_dashboard') }}>Log as Admin</a>
    </div>
{% endblock %}